<form (ngSubmit)="onSubmit(titleInput.value, textInput.value)" #form>
    <app-control [label]="{ name: 'Title:', for:'title'}">
        <input id="tilte" name="title" id="title" #titleInput #input />
    </app-control>
    <app-control [label]="{ name: 'Request:', for:'request'}">
        <textarea id="request" name="request" id="request" rows="3" #textInput #input></textarea>
    </app-control>
    <p>
        <button appButton>
            Submit
            <span class="icon">⌲</span>
        </button>
    </p>
</form>